    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="/dummy/js/sb-admin-2.js"></script>
  <script type="text/javascript" src="/vendor/summernote/summernote.js"></script>
  <script type="text/javascript">
    $(function() {
      $('.summernote').summernote({
        height: 200,
        tabsize: 2
      });

      <!-- $('form').on('submit', function (e) { -->
      <!--   e.preventDefault(); -->
      <!--   alert($('.summernote').summernote('code')); -->
      <!--   alert($('.summernote').val()); -->
      <!-- }); -->
    });
  </script>
    <script src="/dummy/js/adminview.js"></script>

</body>

</html>
