% include("./views/header.html")


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/images/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                %for article in articles:
                <div class="post-preview">
                    <a href="/post/{{article[0]}}">
                        <h2 class="post-title">
                            {{article[1]}}
                        </h2>
                        <h3 class="post-subtitle">
                            %subtitle = article[2] if article[2] is not None else ""
                            {{subtitle}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="/authors/{{article[5]}}">{{article[4]}}</a> on {{str(article[3])[:-10]}}</p>
                </div>
                <hr>
                %end
                <!-- Pager -->
                <ul class="pager">
                    %if current_page > 1:
                    <li class="previous">
                        <a href="{{current_page - 1}}">&larr;Newest Posts </a>
                    </li>
                    %end
                    %page = current_page + 1 if current_page < max_pages else ""
                    <li class="next">
                        <a href="{{page}}">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
% include("./views/footer.html")
