% include("./views/header.html")


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/images/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{article[0].title}}</h1>
                        %subtitle = article[0].subtitle if article[0].subtitle is not None else ""
                        <h2 class="subheading">{{subtitle}}</h2>
                        <span class="meta">Posted by <a href="/authors/{{article[1]}}">{{article[2]}}</a> on {{str(article[0].created_on)[:-10]}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{!article[0].article}}
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
% include("./views/footer.html")
